################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/gamemaster/.vs/GameMaster/v16/Browse.VC.opendb
/.vs/TPFinal-LP1/v16/Browse.VC.db-shm
/.vs/TPFinal-LP1/v16/Browse.VC.db-wal
/.vs/TPFinal-LP1/v16/Browse.VC.opendb
