################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/gamemaster/.vs/GameMaster/v16/Browse.VC.opendb
